 h1{
    color: black;
    font-family: 'Bebas Neue',cursive;
            margin-left: 215px;
    height: 50px;
}
p{
    font-family: 'Inconsolata', monospace;
color: grey;
text-align: center;
width: 70%;
margin-left: 15%;
}
div{
    text-align: center;
}

form {
    position: absolute;
    top: 149%;
    left: 6%;
    /* background-image: url("./amman-201d33/class-10/lab-a/lab-assets/list-bg.png"); */
    font-family: 'Indie Flower', cursive;    text-align: left;
  background-size: cover;
  width: 900px;
  margin-left: 188px;

}
div #left {
    font-family: 'Indie Flower', cursive;
    position: relative;
    bottom: 220px;
}
#btn {
background-color: brown;
color: white;
width: 110px;
margin-left: 1000px;
}
#p {
    color: black;
    margin-left: 10%;
}
h4{
    margin-left: 15%;

}